<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>景點</title>
  <!-- CSS  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/MaterialIcons.css" rel="stylesheet">
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
</head>
<style>
  .container{
    margin: 0px;
  }
  .input-field input[type=search]{
    width: calc(80% - 4rem);
  }
  .page-title{
    font-size: 20px;
    font-weight:bold;
  }
</style>

<script>
function Search(){
  $.ajax({
    url: "/search/index",
    type:"POST",
    dataType:'json',

    success: function(response){
      console.log(response)
      Search2(response);
    },
    error: function() {
      alert("ERROR!!!");
    }

  });    
};

function Search2(data){
  var txt1, txt2, txt3, txt4, txt5, txt6;

  for (var i=0; i<data.length; i++){
    txt1=$("<img/>").attr('src','images/img.jpg');
    txt2=$("<span/>").addClass('card-title').text(data[i].Name);
    txt3=$("<div/>").addClass('chip').text("景點");
    txt4=$("<div/>").addClass('chip').text(data[i].class1);
    txt5=$("<p/>").text(data[i].Toldescribe);
    id=data[i].id
    console.log("--------")
    console.log(id)
    txt6=$("<p/>")
      .addClass('right-align')
        .append($('<a/>')
          .text("詳細資訊")
          .attr('id', data[i].id)
          .click(
            function(){
              $.ajax({
                url: "/search/detail",
                data: {Id: this.id},
                type:"POST",
                dataType:'json',
              });
              console.log(this.id)
              document.location.href="/search/detail";
            }
          )
      );

    $('#StaticDiv').append(
      $('<div/>')
      .addClass('row')
      .append(
        $('<div/>')
        .addClass('card')
        .prepend(
          $('<div/>')
          .addClass('card-image')
          .append(txt1,txt2)
        )
        .append(
          $('<div/>')
          .addClass('card-content')
          .append(txt3,txt4,txt5,txt6)
        )
      )
    );
  }
};
</script>
<body onload="Search()">
  <header>
    <div class="navbar-fixed">
      <nav class="top-nav">
        <div class="nav-wrapper">
          <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons"><img src="images/icon/ic_menu.png"></i></a>
          <a class="page-title">景點搜尋</a>
          <a href="./search.html" class="top-nav full hide-on-large-only" style="float: right; margin: 0px 18px;"><i class="material-icons"><img src="images/icon/ic_search_white.png"></i></a>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col s12 m9 l10">
        <ul id="slide-out" class="side-nav">
          <li><div class="user-view" style="background-color: #9C9C9C">
            <a href="#!user"><img class="circle" src="images/user.jpg"></a>
            <a href="#!name"><span class="white-text name">廖禮志</span></a>
            <a href="#!email"><span class="white-text email">sweety125499123@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons"><img src="images/icon/ic_today.png"></i>我的行程</a></li>
          <li><a href="#!"><i class="material-icons"><img src="images/icon/ic_search_gray.png"></i>景點搜尋</a></li>
          <li><a href="#!"><i class="material-icons"><img src="images/icon/ic_help_outline.png"></i>Q&A</a></li>
          <li><a href="#!"><i class="material-icons"><img src="images/icon/ic_monetization_on.png"></i>匯率換算</a></li>
          <li><a href="#!"><i class="material-icons"><img src="images/icon/ic_group.png"></i>團隊旅遊</a></li>
          <li><div class="divider"></div></li>
          <!--<li><a class="subheader">Subheader</a></li>-->
          <li><a class="waves-effect" href="#!"><i class="material-icons"><img src="images/icon/ic_settings.png"></i>設定</a></li>
          <li><a class="waves-effect" href="#!"><i class="material-icons"><img src="images/icon/ic_info_outline.png"></i>關於我們</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id = "StaticDiv">

  </div>
  <br><br><br>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" id="gotop" style="display: none;">
      <i class="material-icons"><img src="images/icon/ic_arrow_upward.png"></i>
    </a>
  </div>

  <!--  Scripts-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>